<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campspots</title>
</head>

<body>
    <h1>All the camps spots found here.</h1>
    <div>
        <a href="/campspots/new">Add new spot</a>
    </div>
    <ul>
        <% for (let campspot of campspots) {%>
            <li><a href="/campspots/<%= campspot._id %>">
                    <%= campspot.title %>
                </a></li>
            <% } %>
    </ul>
</body>

</html>