<% layout('../layouts/boilerPlate') %>
    <!-- Sending POST request.  -->
    <form action="/campspots" method="POST">
        <div>
            <label for="title">Title</label>
            <!-- Everything under req.body will be stored in campspot title  -->
            <input type="text" id="title" name="campspot[title]">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campspot[location]">
        </div>
        <button>Add campSpot</button>
    </form>
    <!-- Recall: index/campspots  -->
    <a href="/campspots">List All Camps</a>