<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>

<body>
    <h1>Campspots Showing up.</h1>
    <h1>
        <%= campspot.title %>
    </h1>

    <h2>
        <%= campspot.location %>
    </h2>

    <footer>
        <a href="/campspots/ <%= campspot._id%>/edit">Edit</a>
        <a href="/campspots">All campspots :)</a>
    </footer>
</body>

</html>